root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Disable auto-formatting for theme files
[themes/**/*.css]
indent_style = tab
indent_size = 4
max_line_length = off
trim_trailing_whitespace = false

[themes/**/*.yaml]
indent_style = ignore
indent_size = ignore

